.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  font-size: calc(10px + 2vmin);
  color: white;
  position: relative;
}
.App > * {
  flex: 1 1 100%;
  padding: 1rem;
}

.service-options ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    gap: 1rem;
}

.service-options ul li {
  flex: 1 1 100%;
  max-width: calc(33% - 0.5rem);
}

figure{
  display: flex;
  flex-wrap: wrap;
  margin: 0;

}

figure img {
  flex: 1 1 100%;
  max-width: 100%;
}

figcaption {
  flex: 1 1 100%;
  display: flex;
  justify-content: space-between;
}

aside {
  max-width: 22rem;
  position: sticky;
  top: 1rem;
}